.v-chip {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  border: 1px solid #f1f1f1;
  padding: 0 8px;

  > * + * {
    margin-left: 8px;
  }
}
// sizes
.v-chip--size-base {
  height: 32px;
  border-radius: 16px;
}
.v-chip--success {
  border-color: #6DC35E;
}
// themes
//
.v-chip-text {
  font-size: 12px;
}
.v-chip-delete {
  @apply bg-gray-light;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  color: #fff;

  &:hover {
    background-color: lightpink;
  }
}